<h1 class="header">Planets</h1>
<h4 class="sub-header">
    Search, add, update or delete planets. 
    Before you can accsess the planets, please click the generate key!
</h4>

<app-front-form></app-front-form>