.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.inner-div {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-style: solid;
    max-width: 300px;
    min-width: 200px;
}