<div>
    <div class="inner-div">
        <form (ngSubmit)="onSubmit(buttonType)">
            <div class="rows">
                <button class="button" type="button" (click)="onSubmit()">Enter the wormhole</button>
            </div>
            <div class="rows">
                <button class="button" type="button" (click)="generate_key(template)" >Generate Key</button>
            </div>
        </form>
    </div>
</div>

<ng-template #template>
<div class="modal-header">
    <h4 class="modal-title pull-left">Key generation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>An api key has been generated for you. You are now free to enter the wormwhole and 
        explore the different planets! <br></p>
</div>
</ng-template>
