/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body {
    font-family: 'Gloria Hallelujah', cursive;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}