<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Planets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <button class="button" type="button" (click)="show_add_planet_modal(template)" >Add planet</button>
      </li>
    </ul>
  </div>



</nav>

<div class="container">
  <div class="row">
    <div *ngFor="let planet of planets" class="card" style="width: 18rem;">
        <img src="https://cdn.mos.cms.futurecdn.net/dzxtQ2dXH9SVKztJTbAXSA-970-80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{planet.name}}</h5>
          <div class="card-text">
              <form (ngSubmit)="onFormSubmit(planet.name)" >
                  <div>
                    <label>Id: </label>
                    <input class="update-field" type="number" placeholder="{{planet.id}}" name="id" [(ngModel)]="planet_model.id">
                    <br>
                    <label>Size: </label>
                    <input class="update-field" type="text" placeholder="{{planet.size}}" name="size" [(ngModel)]="planet_model.size">
                    <br>
                    <label>Date: </label>
                    <input class="update-field" type="text" placeholder="{{planet.date_discovered}}" name="date_discovered" [(ngModel)]="planet_model.date_discovered">
                    <br>
                    <label>Img url: </label>
                    <input class="update-field" type="text" placeholder="{{planet.img_url}}" name="img_url" [(ngModel)]="planet_model.img_url">
                    <br>
                  </div>

                <button type="submit" class= "btn btn-primary">Update</button>
                <button (click)="delete_planet(planet.id)" class= "btn btn-primary">Delete</button>

              </form>
          </div>
        </div>
      </div>
    </div>
</div>



<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add planet</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="add_planet()" >
            <div>
              <label>name: </label>
              <input class="update-field" type="text" name="name" [(ngModel)]="Planet_add_model.name">
              <br>
              <label>Size: </label>
              <input class="update-field" type="text" name="size" [(ngModel)]="Planet_add_model.size">
              <br>
              <label>Date: </label>
              <input class="update-field" type="text" name="date_discovered" [(ngModel)]="Planet_add_model.date_discovered">
              <br>
              <label>Img url: </label>
              <input class="update-field" type="text" name="img_url" [(ngModel)]="Planet_add_model.img_url">
              <br>
            </div>

          <button type="submit" class= "btn btn-primary">Add</button>

        </form>
    </div>
    </ng-template>
